<div class="login-page">
  <h2>Sign up</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <form class="login-form">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com", class: "w-100" %>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"super secret password", class: "w-100" %>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"super secret password", class: "w-100" %>
      <%= f.submit "Sign up", :style => 'background: #4CAF50;' 'cursor: pointer', :class => 'form button:hover, form button:active, form button:focus' %>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    <% end %>
    </form>
  </div>
</div>