<!DOCTYPE html>
<html>
  <head>
    <title>TmApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
      <li><a href="/home" class="active"><span>Home</span></a></li>
      <li><a href="#"><span>Profile</span></a></li>
      <li><a href="#"><span>Community</span></a></li>
      <li><a href="#"><span>Roster</span></a></li>
      <li><a href="#"><span>Chat</span></a></li>
    </ul>
    <div class="container-fluid h-100 w-100">
      <%= yield %>
    </div>
  </body>
</html>
